Smart Contract Event Monitor (Web3).json
{
  "name": "Smart Contract Event Monitor (Web3)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -992,
        -176
      ],
      "id": "55435e36-e03f-4100-94c6-a28059554241",
      "name": "Daily Check"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "application/json",
        "body": "={\n  \"jsonrpc\": \"2.0\",\n  \"id\": 1,\n  \"method\": \"eth_getLogs\",\n  \"params\": [\n    {\n      \"fromBlock\": \"{{ $json.result }}\",\n      \"toBlock\":   \"{{ $json.result }}\",\n      \"address\": \"0xdAC17F958D2ee523a2206206994597C13D831ec7\",\n      \"topics\": [\n        \"0xddf252ad1be2c89b69c2b068fc378daa952ba7f163c4a11628f55a4df523b3ef\"\n      ]\n    }\n  ]\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -576,
        -176
      ],
      "id": "234c9b04-57ca-4158-96fc-57356114e670",
      "name": "Fetch USDT transaction logs"
    },
    {
      "parameters": {
        "jsCode": "// Flatten the result array\nconst allLogs = $json.result || [];\n\nreturn allLogs\n  .map(logs => {\n    if (!logs.topics || logs.topics.length < 3) {\n      return null;  // skip invalid logs\n    }\n\n    function hexToAddress(topic) { return \"0x\" + topic.slice(-40); }\n    function hexToDecimal(hex) { return BigInt(hex).toString(); }\n\n    return {\n      json: {\n        contract: logs.address,\n        from: hexToAddress(logs.topics[1]),\n        to: hexToAddress(logs.topics[2]),\n        value: hexToDecimal(logs.data),\n        blockNumber: logs.blockNumber,\n        txHash: logs.transactionHash\n      }\n    };\n  })\n  .filter(Boolean);  // remove skipped logs\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -400,
        -176
      ],
      "id": "4aa19463-9589-4350-b348-850635c2cb3f",
      "name": "Extract transactions details"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "66406893-0e29-4e18-90b3-7cd582d08a7f",
              "leftValue": "={{ $json.value }}",
              "rightValue": 1000000000,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -240,
        -176
      ],
      "id": "9dc85842-0582-4142-ace2-181f9c729b13",
      "name": "Filter high value transaction"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appF2iYPgVqqyXDC1",
          "mode": "list",
          "cachedResultName": "n8n Demo",
          "cachedResultUrl": "https://airtable.com/appF2iYPgVqqyXDC1"
        },
        "table": {
          "__rl": true,
          "value": "tblMe6cVaetBcDN11",
          "mode": "list",
          "cachedResultName": "Blockchain",
          "cachedResultUrl": "https://airtable.com/appF2iYPgVqqyXDC1/tblMe6cVaetBcDN11"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Contract": "={{ $json.contract }}",
            "From Address": "={{ $json.from }}",
            "To Address": "={{ $json.to }}",
            "Value": "={{ $json.value }}",
            "txHash": "={{ $json.txHash }}",
            "Block NUmber": "={{ $json.blockNumber }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Contract",
              "displayName": "Contract",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "From Address",
              "displayName": "From Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "To Address",
              "displayName": "To Address",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Value",
              "displayName": "Value",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "txHash",
              "displayName": "txHash",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Block NUmber",
              "displayName": "Block NUmber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        64,
        -288
      ],
      "id": "8b54525f-1508-4264-aa42-8beddec8ec72",
      "name": "Save transaction",
      "credentials": {
        "airtableTokenApi": {
          "id": "yAKqmhLRuSdbo2T8",
          "name": "Airtable Personal Access Token account 10"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Filter items that have a valid Value in Airtable output\nconst validItems = items.filter(item => item.json.fields && item.json.fields.Value !== undefined);\n\nif (validItems.length === 0) {\n  return [{\n    json: { text: \"No high-value transfers found.\" }\n  }];\n}\n\n// Find the largest transfer\nconst largest = validItems.reduce((max, item) => {\n  return BigInt(item.json.fields.Value) > BigInt(max.json.fields.Value) ? item : max;\n}, validItems[0]);\n\nreturn [{\n  json: {\n    text: `${validItems.length} high-value transfers detected. Largest transfer: ${largest.json.fields.Value} from ${largest.json.fields[\"From Address\"]} to ${largest.json.fields[\"To Address\"]}. Stored in Airtable.`\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        240,
        -288
      ],
      "id": "d147eef6-5bad-4043-96c8-cd6dd84bbff1",
      "name": "Genrate transction summary"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C09S57E2JQ2",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "text": "=High value transfer alert\n{{ $json.text }}",
        "otherOptions": {
          "includeLinkToWorkflow": false
        }
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        432,
        -288
      ],
      "id": "fb25e310-48b9-4e57-86aa-0b51466892b5",
      "name": "Send transaction alert",
      "webhookId": "16c779b6-cbe9-4f9d-9ca1-eb67ff0b3685",
      "credentials": {
        "slackApi": {
          "id": "NwllndcJLwnQYcFB",
          "name": "Slack account 15"
        }
      }
    },
    {
      "parameters": {
        "content": "## How it works\nThis workflow automatically checks the blockchain every day and looks for big USDT transactions happening in the latest block. It extracts the sender, receiver, amount, and transaction details. If the transaction value is higher than a defined limit, the workflow saves those records into Airtable for tracking. After saving, it creates a short summary and sends one clear alert message to Slack. That message tells the team how many large transactions were found and highlights the biggest one. This helps you stay updated without checking the blockchain manually or receiving too many notifications.\n\n\n## Setup steps\n\n**1.** Add your Alchemy API URL for Ethereum mainnet in the HTTP nodes.\n\n**2.** Set the USDT contract address and Transfer event topic (already included).\n\n**3.** Connect your Airtable account and select the correct base and table.\n\n**4.** Make sure fields in Airtable match the workflow: Contract, From Address, To Address, Value, Block Number, and txHash.\n\n**5.** Connect your Slack account and select the channel where you want alerts.\n\n**6.** Adjust the value threshold in the IF node if you want a different limit.\n\n**7.** Activate the workflow to start receiving daily notifications.",
        "height": 752,
        "width": 432
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1552,
        -704
      ],
      "typeVersion": 1,
      "id": "06ca1ebd-6139-4e00-b106-9147e5e32e9d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "Runs the workflow automatically at a set time every day.",
        "height": 224,
        "width": 224,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1088,
        -256
      ],
      "typeVersion": 1,
      "id": "1a99ed87-73f7-46f1-b11d-dcfe11181a9a",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## High-Value USDT Transaction Detection\n\n**Get latest blocknumber** – Gets the latest Ethereum block number from the blockchain.\n\n**Fetch USDT transaction logs** – Fetches all USDT “Transfer” events from that block.\n\n**Extract transactions details** – Extracts and formats sender, receiver, amount, and transaction details from the blockchain data.\n\n**Filter high value transaction** – Checks if the transaction amount is above the threshold to consider it “high-value.”",
        "height": 464,
        "width": 784,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -848,
        -432
      ],
      "typeVersion": 1,
      "id": "2be408ef-49b0-4d6f-9a73-3c6b334bc362",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://eth-mainnet.g.alchemy.com/v2/YOUR_API_KEY",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"jsonrpc\": \"2.0\",\n  \"id\": 1,\n  \"method\": \"eth_blockNumber\",\n  \"params\": []\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -784,
        -176
      ],
      "id": "6416dc8f-82f9-48cd-94e7-b5516762a1e7",
      "name": "Get latest blocknumber"
    },
    {
      "parameters": {
        "content": "## Record & Alert High-Value Transactions\n\n**Save transaction** – Saves the high-value transaction details into Airtable for tracking.\n\n**Genrate transaction summary** – Summarizes all saved transactions and identifies the largest one.\n\n**Send transaction alert** – Sends a clear alert to Slack with the number of high-value transactions and the largest transfer.\n",
        "height": 416,
        "width": 656,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -16,
        -528
      ],
      "typeVersion": 1,
      "id": "2190a35d-33af-46b4-b4db-fea6669be8df",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Daily Check": {
      "main": [
        [
          {
            "node": "Get latest blocknumber",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch USDT transaction logs": {
      "main": [
        [
          {
            "node": "Extract transactions details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract transactions details": {
      "main": [
        [
          {
            "node": "Filter high value transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter high value transaction": {
      "main": [
        [
          {
            "node": "Save transaction",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save transaction": {
      "main": [
        [
          {
            "node": "Genrate transction summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Genrate transction summary": {
      "main": [
        [
          {
            "node": "Send transaction alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get latest blocknumber": {
      "main": [
        [
          {
            "node": "Fetch USDT transaction logs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "d08f763e-5a00-4780-94c3-de59b07d7bbe",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14e4c77104722ab186539dfea5182e419aecc83d85963fe13f6de862c875ebfa"
  },
  "id": "KGIlO8s3haBFAuvM",
  "tags": []
}